*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image:linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
  url(../img/services.jpg);
  background-size: cover;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 25px #333;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
}
#logo{
  line-height: 60px;
  margin-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-size: 30px;
  font-weight: bold;
  color: #fbd2b1
}
#logo:hover{
    color: #eef9ff; /* white */
}
#logo-s{
	color: #eef9ff; /* white */
	margin-left: 5px;
}
#logo:hover #logo-s{
	color: #fbd2b1
}
.logo a {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}
.logo img{
  width: 100px;
}

.menu-toggle {
  display: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 10px;
}

.menu li a {
  color: #fff;
  text-decoration: none;
}
.menu li a:hover{
  color: #f9004d;
}

.services{
  height: 76vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}

.card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front {
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3 {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: rgba(0,0,0,.4);
    text-align: center;
}

.card .back {
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px #000;
}

.card .back .link {
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}

.card .back .link a {
    color: #f3f3f3;
}

.card .back h3 {
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p {
    letter-spacing: 1px;
}

.card:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
    transform: perspective(600px) rotateY(360deg);
}

.extra ol{
  list-style: none;
  display: flex;
  align-items: center;
}
.extra li{
  color: white;
  margin: 20px auto;
}
.extra{
    width: 100%;
    height: auto;
  background-color: #1600ffa3;
}
.extra li:hover{
  color: #ffeb3b;
  cursor: pointer;
}
.extra i{
  margin-right: 5px;
}

@media (max-width: 1000px) {
  .menu-toggle {
    display: block;
    cursor: pointer;
  }
  .menu {
    box-shadow: 0 0 25px #333;
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
    padding: 20px;
    box-sizing: border-box;
  }
  .menu li {
    margin: 10px 0;
  }
  .menu li a {
    font-size: 20px;
  }
  .menu-toggle span {
    display: block;
    width: 30px;
    height: 5px;
    background-color: #fff;
    margin: 5px 0;
  }
}
.menu.slide-in {
  display: flex;
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
